root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 150

[*.{yaml,yml}]
indent_size = 2

[*.{json,jsonc,mcmeta}]
indent_size = 2
ij_json_array_wrapping = on_every_item

[*.{mixins,ktmixins}.{json,jsonc}]
ij_json_array_wrapping = split_into_lines

[*.md]
trim_trailing_whitespace = false
